@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    background: #fff;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 28px;
    font-weight: 300;
    ;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

.iconback {
    width: 10px;
    margin-right: 10px;
}

.title-detail {
    display: flex;
    color: rgba(26, 60, 141, 1)!important;
}

.navbar-img {
    width: auto;
    height: 3rem;
    padding-left: 20px;
}

.navbar-search {
    padding: 20px;
    display: flex;
}

.navbar-search input {
    margin-right: 10px;
}

#canvas {
    padding: 20px;
}

.chart-title {
    font-weight: 400;
    padding-top: 20px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chart-value {
    font-weight: 400;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .title-detail {
        font-size: 16px;
    }
}