<button type="button" (click)="volver()" class="btn"><img class="iconback" src="./assets/icons/backicon.png" alt="">Volver</button>
<h1 class="justify-content-center title-detail">Valor Histórico del Bitcoin</h1>
<div class="list-group">
    <a *ngFor="let item of bitCoinSerie | ObjToArray " class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{item.fecha | date}}</h3>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <small>{{item.valor}}$</small>
        </div>
    </a>
</div>