<h3 class="chart-title">
    Valor actual Bitcoin
</h3>
<h4 class="chart-value">{{this.indicador.bitcoin.valor}}$</h4>


<div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
</div>
<div class="list-group">
    <a *ngFor="let item of indicador | ObjToArray | slice:3; let i = index;" href="{{ item.codigo }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1">{{ item.nombre }}</h2>
            <small>{{ item.fecha | date }}</small>
        </div>
        <h3 class="mb-1">{{item.valor}}</h3>
        <div class="d-flex w-100 justify-content-between">
            <small>{{item.codigo}}</small>
            <img class="justify-content-end" src="./assets/icons/info_icon.svg" alt="">
        </div>
    </a>
</div>