<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
    <a class="navbar-brand" href="/home">
        <img class="navbar-img" src="./assets/icons/banchlelogo.png" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bitcoin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Valor UF</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dólar</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 navbar-search">
            <input class="form-control mr-sm-2" type="search" placeholder="Busca tu indicador">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>
<router-outlet>

</router-outlet>